.card {
  padding: 2rem;
  background: #292c35;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14pt;
}

.name {
  font-size: 20pt;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.stat {
  color: #e09145;
}
